@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Road+Rage&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-500: #151419;
  --color-secondary-500: #fbfbfb;
  --color-tertiary-500: #f56e0f;
  --color-quaternary-500: #262626;
  --color-quinary-500: #878787;
}

:root {
  --font-bebas: "Bebas Neue", cursive;
  --font-rr: "Road Rage", sans-serif;
  --font-bangers: "Bangers", system-ui;
  --font-inter: "Inter", sans-serif;
}

.shadow-custom {
  box-shadow: 15px 15px 30px rgb(25, 25, 25, 0.5), -15px -15px 30px rgba(60, 60, 60, 0.5);
}

.custom-gradient {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, black 10%, black 90%, rgba(0, 0, 0, 0.1) 100%);
}
