@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Road+Rage&display=swap');


@theme {
    --color-primary-500: #151419;
    --color-secondary-500: #FBFBFB;
    --color-tertiary-500: #F56E0F;
    --color-quaternary-500: #262626;
    --color-quinary-500: #878787;

    --font-bebas: "Bebas Neue", cursive;
    --font-rr: "Road Rage", sans-serif;
}
